[probe]
pin: ^PC3
x_offset: -1
y_offset: 31
# z_offset: 10.364
speed: 25.0
lift_speed: 30.0
sample_retract_dist: 4
samples: 2
samples_tolerance_retries: 6

[bed_screws]
screw1: 32, 31
screw1_name: Front-Left
screw2: 202, 31
screw2_name: Front-Right
screw3: 202, 203
screw3_name: Rear-Right
screw4: 32, 203
screw4_name: Rear-Left
horizontal_move_z: 12
probe_height: 0
speed: 180
probe_speed: 5

[screws_tilt_adjust]
screw1: 33, 0
screw1_name: Front-Left
screw2: 203, 0
screw2_name: Front-Right
screw3: 203, 171
screw3_name: Rear-Right
screw4: 33, 171
screw4_name: Rear-Left
horizontal_move_z: 12
speed: 180
screw_thread: CW-M4

[bed_mesh]
speed: 180
horizontal_move_z: 15
mesh_min: 20, 36
mesh_max: 210, 210
probe_count: 3, 3
# algorithm: lagrange
algorithm: bicubic
fade_start: 1.0
fade_end: 10.0
# fade_target: 0
split_delta_z: 0.02
move_check_distance: 3
mesh_pps: 2, 2
# zero_reference_position: 115, 80